body {
    background-color: #fffbf7;
    background-image: url("wallpaper.jpg");
}

h1{
    color: #46484c;
}

.promocional{
    color: #8b8b8bcc
}

.txt-btn{
    color: #fff;  
    background-color: #025157;
}